/* User Information table */
.status-switch:checked {
	background-color: #28a745;
	border-color: #28a745;
}

.status-switch:not(:checked) {
	background-color: #dc3545;
	border-color: #dc3545;
}

.status-switch {
	pointer-events: none;
	cursor: default;
}

.table-bordered-vertical th,
.table-bordered-vertical td {
	border-right: 1px solid #dee2e6;
}

.table-bordered-vertical th:last-child,
.table-bordered-vertical td:last-child {
	border-right: none;
}

.iti {
	width: 100% !important;
}

.iti__selected-flag {
	height: 100% !important;
	display: flex;
	align-items: center;
}

input#phone.iti {
	padding-left: 58px !important;
	height: calc(3.5rem + 2px);
	line-height: 1.5;
	font-size: 1rem;
}
.table {
	table-layout: fixed !important;
}

.table th,
.table td {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 180px;
}

.table th {
	position: relative;
}

.table th .resizer {
	position: absolute;
	right: 0;
	top: 0;
	width: 6px;
	cursor: col-resize;
	user-select: none;
	height: 100%;
	z-index: 10;
	background: transparent;
}

.category-accordion .nested-menu {
	display: none;
}

.category-accordion.show > .nested-menu {
	display: block;
}

.category-accordion .arrow {
	float: right;
	transition: transform 0.3s ease;
	font-size: 0.8rem;
}

.category-accordion.show > .category-toggle .arrow {
	transform: rotate(180deg);
}
